.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Montserrat font for headers */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}
.body_tex {
  font-family: 'Montserrat', sans-serif;
}

/* Lato font for body text */
body, p, span, div {
  font-family: 'Lato', sans-serif;
}

.imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(141, 110, 99, 0.6), rgba(77, 182, 172, 0.6));
}

.dark-text {
  color: #4e4d4d; 
}

.error-alert {
  margin: 20px 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

}


.product-listing {
  font-family: 'Lato', sans-serif;
  padding: 20px;
  background-color: #FFFFFF;
  color: #757575;
}

.product-listing h2 {
  color: #4CAF50;
}

.product-listing form {
  margin-bottom: 20px;
}

.product-listing label {
  display: block;
  margin-bottom: 5px;
  color: #8D6E63;
}

.product-listing input,
.product-listing textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #757575;
}

.product-listing button {
  background-color: #4CAF50;
  color: #FFFFFF;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.admin-product-list {
  display: flex;
  flex-wrap: wrap;
}

.admin-product-card {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #757575;
  box-sizing: border-box;
}

.admin-product-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.admin-product-card h3 {
  color: #4CAF50;
}

.admin-product-card p {
  margin-bottom: 5px;
}


button {
  background-color: #4CAF50;
  border-color: #4CAF50;
  color: #fff; 
}

button:hover {
  background-color: #45a049; 
  border-color: #45a049;
}

.cstm-btn {
  background-color: #4CAF50;
  border-color: #4CAF50;
  color: #fff; 
}

.cstm-btn:hover {
  background-color: #45a049;
  border-color: #45a049;
}

.cstm-btn2 {
  background-color: #ffffff;
  border-color: #4CAF50;
  color: #4CAF50; 
}

.cstm-btn2:hover {
  background-color: #45a049; 
  border-color: #45a049;
  color: white;
}

.custom-active {
  background-color: #4CAF50 !important;
  border-color: #4CAF50 !important;
  color: white !important; /* Change the text color to white for better visibility */
}

.custom-inactive {
  background-color: transparent !important;
  border-color: #4CAF50 !important;
  color: #4CAF50 !important;
  cursor: pointer;
}

.sticky-col {
  position: sticky;
  top: 120px;
}

/* FeaturedArticle.css */

.featured-article-wrapper {
  position: relative;
  padding: 80px;
  overflow: hidden;
}

.featured-article-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1; 
}



.featured-article-container {
  position: relative;
  z-index: 1; 
}


.shape1,
.shape2,
.shape3,
.shape4,
.shape5 {
  position: absolute;
  border-radius: 50%;
  opacity: 1;
}

.shape1 {
  width: 200px;
  height: 200px;
  top: 10%;
  left: 20%;
  background-color: #4CAF50;
}

.shape2 {
  width: 150px;
  height: 150px;
  top: 50%;
  left: 90%;
  background-color: white;
  border: 2px solid #4CAF50;
}

.shape3 {
  width: 100px;
  height: 100px;
  top: 80%;
  left: 80%;
  background-color: #4CAF50;
}

.shape4 {
  width: 300px;
  height: 300px;
  top: 60%;
  left: -5%;
  background-color: white;
  border: 2px solid #4CAF50;
}

.shape5 {
  width: 50px;
  height: 50px;
  top: 10%;
  left: 90%;
  background-color: #4CAF50;
}

.cart-display {
  position: fixed;
  top: 80px;
  right: 300px;
  width: 600px;
  z-index: 1000;
  opacity: 1; 
  transform: translateY(0); 
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.btn-outline-gray {
  color: gray;
  border-color: gray;
}

.btn-outline-gray:hover {
  color: white;
  background-color: gray;
}


.pagination-item {
  border-color: black;
  color: #4CAF50 !important;
  cursor: pointer;
}

.pagination-item.active {
  background-color: #4CAF50 !important;
  color: white !important;
}

input[type="radio"].custom-control-input:checked ~ .custom-control-label::before {
  background-color: #4CAF50 !important;
  border-color: #4CAF50 !important;
}

/*About page banner*/
.banner-container {
  position: relative;
  height: 300px; /* Adjust the height as needed */
  overflow: hidden; /* Ensure the image does not exceed the container height */
}

.banner-image {
  width: 100%;
  height: auto;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; /* Set the text color */
  text-align: center;
  font-size: 2.5rem; /* Adjust the font size as needed */
  font-weight: bold;
}

.block-list {
  margin-top: 20px; /* Add some margin at the top of the list */
}

.block-list li {
  background-color: #4CAF50;
  border-radius: 10px; /* Adjust the border radius as needed */
  padding: 15px;
  margin-bottom: 10px; /* Add some margin between each list item block */
  color: #fff; /* Set text color to white */
}

.larger-font {
  font-size: 18px; /* Adjust the font size as needed */
  font-family: 'Montserrat';
}

.horizontal-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.horizontal-list li {
  background-color: #fbf6e6;
  border-radius: 10px;
  padding: 15px;
  margin-right: 10px; /* Add some margin between each list item block */
  color: #323232;
}

.rounded-circle-container {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1/1; /* Fixed aspect ratio for a square */
  border-radius: 50%;
  border: 2px solid #4CAF50;
}

.rounded-circle {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}